@import url('https://fonts.cdnfonts.com/css/clarika-geometric');

*, *::before, *::after {
    font-family: 'Clarika Geometric', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol, ul {
	list-style: none;
}